<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
	version="3.1">
	<display-name>HelloWorld Application</display-name>
	<description>
		This is a simple web application with a source code
		organization
		based on the recommendations of the Application
		Developer's Guide.
	</description>
	<servlet>
		<servlet-name>AddActorServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.AddActorServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CargarPeliculasPorActor</servlet-name>
		<servlet-class>es.salesianos.servlet.CargarPeliculasPorActor</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddFilmToActor</servlet-name>
		<servlet-class>es.salesianos.servlet.AddFilmToActor</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>addPeliculaServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.addPeliculaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listado</servlet-name>
		<servlet-class>es.salesianos.servlet.ListadoServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>listadoPeliculas</servlet-name>
		<servlet-class>es.salesianos.servlet.ListadoServletPeliculas</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>listadoByPerson</servlet-name>
		<servlet-class>es.salesianos.servlet.ListadoServletByPerson
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>updateOwnerServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.updateOwnerServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>editOwnerServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.editOwnerServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>confirmDeleteOwnerServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.ConfirmDeleteOwnerServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>deleteOwnerServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.deleteOwnerServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddPetServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.addPetServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>deletePetServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.deletePetServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>recoveryAddOwnerServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.recoveryAddOwnerServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>editPetServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.editPetServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>updatePetServlet</servlet-name>
		<servlet-class>es.salesianos.servlet.updatePetServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>addPeliculaActor</servlet-name>
		<servlet-class>es.salesianos.servlet.addPeliculaActor
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddActorServlet</servlet-name>
		<url-pattern>AddActor</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>addPeliculaServlet</servlet-name>
		<url-pattern>inscribirPelicula</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>listado</servlet-name>
		<url-pattern>cargarListado</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>listadoPeliculas</servlet-name>
		<url-pattern>cargarListadoPeliculas</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>listadoByPerson</servlet-name>
		<url-pattern>cargarListadoByPerson</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>updateOwnerServlet</servlet-name>
		<url-pattern>/updateOwner</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>editOwnerServlet</servlet-name>
		<url-pattern>/editOwner</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddFilmToActor</servlet-name>
		<url-pattern>/addFilmToActor</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CargarPeliculasPorActor</servlet-name>
		<url-pattern>/cargarPeliculasPorActor</url-pattern>
	</servlet-mapping>
	
	

	<servlet-mapping>
		<servlet-name>confirmDeleteOwnerServlet</servlet-name>
		<url-pattern>/confirmDeleteOwner</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>deleteOwnerServlet</servlet-name>
		<url-pattern>/deleteOwner</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>recoveryAddOwnerServlet</servlet-name>
		<url-pattern>/recoveryAddCodOwner</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddPetServlet</servlet-name>
		<url-pattern>/addPet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>deletePetServlet</servlet-name>
		<url-pattern>/deletePet	</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>updatePetServlet</servlet-name>
		<url-pattern>/updatePet	</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>editPetServlet</servlet-name>
		<url-pattern>/editPet	</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>addPeliculaActor</servlet-name>
		<url-pattern>/addPeliculaActor	</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>